<mat-toolbar class="header mat-elevation-z4" color="primary">

    <span>
        <mat-icon>
            pets
        </mat-icon>
        Bluedit
    </span>

        <mat-form-field class="subselector">
            
            <mat-select value="home">
                
                    <mat-option value="home" (click)="toRoute('')">
                        
                            <mat-icon>
                                home
                            </mat-icon>
                            Home
                        
                    </mat-option>

                <mat-optgroup label="Subforums">

                    <mat-option value="main" (click)="toRoute('b/main')">
                        
                        <mat-icon>
                            account_box
                        </mat-icon>
                        b/main
        
                    </mat-option>

                    <mat-option>
                        
                        <mat-icon>
                            add
                        </mat-icon>
                        New

                    </mat-option>


                </mat-optgroup>
                
                
    
            </mat-select>

        </mat-form-field>
        

    <span class="user">

        <div *ngIf="currentUser" class="user-actions">

            <span class="user-text">
                Welcome, {{currentUser}}!
            </span>

            <a (click)="logout()" class="user-text logout">
                <mat-icon>
                    exit_to_app
                </mat-icon>
                Logout
            </a>
        </div>
        
        <div *ngIf="currentUser == null" class="user-actions">
            <a routerLink="login" class="user-text">
                <mat-icon>
                    login
                </mat-icon>
                Login
            </a>
    
            <a routerLink="register" class="user-text">
                <mat-icon>
                    person_add
                </mat-icon>
                Register
            </a>
        </div>

    </span>
    
</mat-toolbar>