.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.header .subselector {
    margin-left: 20px;
}

.user {
    margin-left: auto;
}

.user-actions{
    display: flex;
    flex-direction: row;
}

.user-text {
    margin-left: 15px;
}

.logout:hover {
    cursor: pointer;
}