<mat-card>
    <mat-card-title-group>

        <mat-card-subtitle>Posted by {{ post.author }} at {{post.time}}</mat-card-subtitle>
    
        <mat-card-title class="title">
            <span class="upvotes">

                <mat-icon>
                    keyboard_arrow_up
                </mat-icon>
                
                {{post.upvotes}}

                <mat-icon>
                    keyboard_arrow_down
                </mat-icon>
                
            </span>

            <a routerLink="/b/post/{{post.id}}">
                {{ post.title }}
            </a>

        </mat-card-title>

    </mat-card-title-group>

    <mat-card-content>{{ post.content }}</mat-card-content>

    <mat-card-footer class="footer">
        <mat-chip 
            color="primary"
            *ngFor="let tag of post.tags"
            >
            {{tag}}
        </mat-chip>
    </mat-card-footer>

</mat-card>
