<div class="home">
    <div class="posts-column">
        <app-create></app-create>

        <div class="posts">
            <div *ngFor="let post of posts">
                <app-preview [post]="post"></app-preview>
            </div>
            
        </div>
    </div>

    <div class="side-column">
        <mat-card>
            <mat-card-title>Top Subreddits</mat-card-title>
            <mat-card-content>
                <ul>
                    <li>
                        1
                    </li>
                    <li>
                        2
                    </li>
                    <li>
                        3
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>

    </div>
</div>