<div class="home">
    <div class="column">
        <mat-card>
            <mat-card-title>Create Post</mat-card-title>
            <mat-card-content>
                <textarea> </textarea>
            </mat-card-content>
        </mat-card>

        <div class="posts">
            
        </div>
    </div>

    <div class="column">
        <mat-card>
            <mat-card-title>Top Subreddits</mat-card-title>
            <mat-card-content>
                <ul>
                    <li>
                        1
                    </li>
                    <li>
                        2
                    </li>
                    <li>
                        3
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>

    </div>
</div>