<div class="home">

    <div class="posts-column">
        <app-create [subForumName]="subForum.name"></app-create>

        <div class="posts">
            <div *ngFor="let post of subForum.posts">
                <app-preview [post]="post"></app-preview>
            </div>
            
        </div>
    </div>

    <div class="info-column">
        <mat-card>
            <mat-card-title>Welcome to {{subForum.name}}</mat-card-title>
            <mat-card-content>
                {{subForum.description}}
            </mat-card-content>
        </mat-card>

    </div>
    
</div>