<div class="home">
    <div class="column">
        <mat-card>
            <mat-card-title>Create Post</mat-card-title>
            <mat-card-content>
                <textarea> </textarea>
            </mat-card-content>
        </mat-card>

        <div class="posts">
            <div *ngFor="let post of subForum.posts">
                <app-preview [post]="post"></app-preview>
            </div>
            
        </div>
    </div>

    <div class="column">
        <mat-card>
            <mat-card-title>Welcome to {{subForum.name}}</mat-card-title>
            <mat-card-content>
                {{subForum.description}}
            </mat-card-content>
        </mat-card>

    </div>
</div>