.home {
    display: flex;
    flex-direction: row;
}

.home .posts-column {
    min-width: 500px;
    max-width: 1000px;

    padding: 10px;

    display: flex;
    flex-direction: column;
}

.home .info-column {
    min-width: 300px;
    max-width: 500px;

    padding: 10px;

    display: flex;
    flex-direction: column;
}

.posts {
    margin-top: 20px;
}

.post {
    margin-top: 10px;
}